.hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    position: relative;

    .hero-content {
    grid-column: 1;
    padding-left: 5%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
        h1 {
            width: 160%;
            max-width: 160%;
            color: $dark-accent;
            font-size: $font-size-large;
            line-height: 5rem;
        }
    }

    .hero-image {
    grid-column: 2;
    position: relative;
    z-index: 2;
    
        img {
            position: absolute;
            top: 18rem;
            left: -14rem;
            transform: translateY(-50%);
            max-width: 250%; 
            height: auto;
        }
    }
        

    
}
