.hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-areas: "hero hero bgd" ;
    position: relative;

    .hero-content {
    grid-area: hero;
    padding-left: 10px;
    padding-top: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;
        h1 {
            width: 60%;
            color: $dark-accent;
            font-size: $font-size-large;
            line-height: 5rem;
            padding-top: 20px;
        }
        p {
            width: 60%;
            color: $light-text;
            font-size: $font-size-small;
            padding-top: 28px;
            padding-bottom: 20px;
            line-height: 2rem;
        }
    }

    .hero-image {
    grid-column: 2;
    position: relative;
    z-index: 5;
    
        img {
            position: absolute;
            top: -6rem;
            left: -22rem;
            transform: translateY(-50%);
            max-width: 250%; 
            height: auto;
        }
    }
}
