.hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-areas: "hero hero bgd";
    position: relative;

    .hero-content {
        grid-area: hero;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative; 
        
        h1 {
            width: 70%;
            color: $dark-accent;
            font-size: $font-size-large;
            line-height: 4rem;
            padding-top: 3rem;
        }

        p {
            width: 65%;
            color: $light-text;
            font-size: $font-size-small;
            padding-top: 28px;
            padding-bottom: 20px;
            line-height: 2rem;
        }
    }

    .hero-image {
        grid-column: 2;
        position: relative;
        
        img {
            position: absolute;
            top: -4rem;
            left: -18rem;
            transform: translateY(-50%);
            max-width: 250%; 
            height: auto;
        }
    }
}
