/* Common button styles for both nav and cta buttons */
.nav-buttons a, 
.cta-buttons a {
    width: auto; 
    font-size: $font-size-base;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 12px 32px;
    margin-right: 10px;
    border-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative; 
}

a.light-button {
    color: $dark-accent;
    gap: 10px; 
    
    
    .nav-buttons & {
        text-decoration: underline; /* Underline only in nav */
    }
    
    &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
        transform: scale(1.1);
    }
}

a.dark-button {
    background-color: $dark-accent;
    color: white;
    text-decoration: none;
    z-index: 10;
    &:hover {
        transform: scale(1.1);
    }
}

/* Nav buttons styles */
.nav-buttons {
    display: flex;
    align-items: center;
    gap: 0; 
    padding: 20px;
    transform: translateX(-30px);
    margin-right: 2rem;
    a {
        font-size: $font-size-xs;
    }
}

/* CTA buttons styles */
.cta-buttons {
    position: relative;   
    z-index: 6;          
    display: flex;
    align-items: center;
    gap: 2rem; 
    padding-top: 1.5rem;
    
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 12px 30px;
        margin-right: 10px;
        border-radius: 20px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    img {
        width: 2.5rem;         
        height: 2.5rem;        
        border-radius: 50%;   
        padding: 10px;       
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
        margin-left: 1rem;
        margin-right: -2rem;
    }
}
