// Primary colour Scheme
$dark-accent: #264065;
$light-accent: #A9D6CB;
$dark-text: #070D15;
$light-text: #909090;
$light-background: #fafafa;

// Font Sizes
$font-size-large: 3.4rem;    
$font-size-medium: 1.75rem;
$font-size-small: 1.2rem;   
$font-size-base: 1rem;   
$font-size-xs: 0.9rem;

// Screen sizes
$largedesktop: "(min-width: 1441px)";   
$desktop: "(min-width: 1025px)"; 
$tablet: "(max-width: 1024px)"; 
$tabletmobile: "(min-width: 481px) and (max-width: 1024px)"; 
$mobile: "(min-width: 320px) and (max-width: 480px)"; 
$smallmobile: "(max-width: 319px)"; 
$rotate: "(max-height: 550px)";